html {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
  height: 90px;
  background-color: rgba(0, 0, 0, 0);
}

.menu {
  display:flex;
  width:100%;
	height:100%;
  margin-top: 0;
  margin-left: 950px;
  background-color: rgba(0, 0, 0, 0);
}

.menu ul {
  height: 100%;
  width:100%;
  margin-top: 0px;
  padding-left: 40px;
  display: flex;
  text-align: center;
  justify-content: left;
  align-items: center;
  border: 5px solid #261700;
  border-right: 0px;
	border-bottom-left-radius: 100px 90px;
  background-image: linear-gradient(#7B4F15, #644B2A);

}

.menu li {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: white;
  border: 2px solid #FEFEFE;
  border-radius: 7px;
}

.menu img {
  height: 50px;
  width: 130px;
}

body {
    height: 100%;
    display: block;
    margin: 0px;
    background-image: url('https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwdf71c7db/images/large/5759633788a7e3de678b4567-2.jpg?sw=1084&sh=822&sm=fit');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    cursor: url('Souris.cur'), pointer;
}

a:link {
cursor:url('heroes.cur'), wait;
}

.Poutre {
    height: 100%;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.bouton a {
margin-top: 100px;
margin-left: 85px;
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background-color: #B61111;
color:white;
text-decoration:none;
}
.bouton a:hover {
background-color: #DB1818;
}

.bouton2 a {
margin-top: 100px;
margin-left: 85px;
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background-color: #B61111;
color:white;
text-decoration:none;
}
.bouton2 a:hover {
background-color: #DB1818;
}

.bouton3 a {
margin-top: 100px;
margin-left: 85px;
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background-color: #B61111;
color:white;
text-decoration:none;
}
.bouton3 a:hover {
background-color: #DB1818;
}


p {
  font-family: gothballcrapbold;
  font-size:2em;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: 2px 2px black;
  width: 100%
}

@font-face {
    font-family: 'gothballcrapbold';
    src: url('gothballcrap-webfont.eot');
    src: url('gothballcrap-webfont.ttf') format('truetype'),
         url('gothballcrap-webfont.woff') format('woff'),
         url('gothballcrap-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothballcrap-webfont.svg#gothballcrapbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
