html {
  height: 100%;
}

body {
    height: 100%;
    display: block;
    margin: 0px;
    background-image: url('https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwdf71c7db/images/large/5759633788a7e3de678b4567-2.jpg?sw=1084&sh=822&sm=fit');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    cursor: url('Souris.cur'), pointer;
    font-family: gothballcrapbold;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
  opacity: 1;
  height: 90px;
  background-color: rgba(0, 0, 0, 0);
}

.menu {
  display:flex;
  width:100%;
	height:100%;
  margin-top: 0;
  margin-left: 950px;
  background-color: rgba(0, 0, 0, 0);
}

.menu ul {
  height: 100%;
  width:100%;
  margin-top: 0px;
  padding-left: 40px;
  display: flex;
  text-align: center;
  justify-content: left;
  align-items: center;
  border: 5px solid #261700;
  border-right: 0px;
	border-bottom-left-radius: 100px 90px;
  background-image: linear-gradient(#7B4F15, #644B2A);

}

.menu li {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: white;
  border: 2px solid #FEFEFE;
  border-radius: 7px;
}

.menu img {
  height: 50px;
  width: 130px;
}

.poutre {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50%;
}

p {
  font-size:2em;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: 2px 2px black;
  width: 100%;
}

.cadre {
  background-color: white;
  border-radius: 2px;
  border-color: black;
  opacity: 0;
}

a {
  cursor:url('heroes.cur'), wait;
}

@font-face {
    font-family: 'gothballcrapbold';
    src: url('gothballcrap-webfont.eot');
    src: url('gothballcrap-webfont.ttf') format('truetype'),
         url('gothballcrap-webfont.woff') format('woff'),
         url('gothballcrap-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothballcrap-webfont.svg#gothballcrapbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


div {
    width: 100%;
}

#arg2{
     cursor:url('heroes.cur'), wait;
     position: absolute;
     transition:all 2s;
     opacity:0;
     margin-top: 32px;
     background-color: white;
     border: solid black 2px;
}

div:hover #arg2 {
     transform:scale(1) rotate(360deg);
     opacity:1;
}
